@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background-color: #f0ebe3;
}

header {
  background-color: #c6dce4;
}

button {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.nav button {
  font-family: inherit;
}

.create-box {
  width: 380px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.create-box h2 {
  text-align: center;
  color: #000;
}

.create-box textarea {
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.5rem;
}

.create-box button {
  width: fit-content;
}

.flashcards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0 10px;
}

.flashcard {
  width: 370px;
  min-height: 200px;
  height: fit-content;
  word-wrap: break-word;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.flashcard h2 {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .flashcard {
    margin: auto;
  }

  .flashcard {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .create-box {
    width: 100%;
  }
  .flashcard {
    width: 100%;
  }
}
